:host{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
mat-card{
  padding: 1em;
  width: 30%;
  mat-hint{
    margin-top: 0.8em;
    color: red;
  }
  button{
    width: 100%;
  }
}
.mobile{
  width: 90%;
}
mat-form-field{
  width: 100%;
}
